@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/* //navbar css */
.second-navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  /* box-shadow: 2px 2px 10px 2px gray; */
  /* --webkit-box-shadow: 0 8px 6px 6px gray; */
  border-bottom: solid orangered !important;
}

.nav-link {
  font-weight: 300 !important;
  padding-left: 20px !important;
}
.not-login:hover{
  background-color: rgb(247, 247, 247) !important;;
}



.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}


/* dropdown adjustment */
/* .dropdown-menu[data-bs-popper] {
  
  left: -100% !important;
 
} */
/* =============================
==========footer============= */
/* 
.footer {
  color: white;
  padding: 25px;
  background: #000000; /* fallback for old browsers */
  /* background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #434343, #000000);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
} */ 
/* =================================
======== page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}
/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* =============================== */
/* ========register ============== */

.register{
  
  min-height: 80vh;
  margin: 20px;
  

}


/* =================================== */
/* ==========login ==================== */

.login{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  flex-direction: column;
  margin: 20px;
}



/* ######### product ###### */
.product-link{
  text-decoration: none;
  color: black;
}




/* media queries */

/* Mobile devices */
@media screen and (max-width: 480px) {
  
}

/* Tablet devices and small */

@media screen and (max-width: 768px){

  .search-input{
    width: 100px;
  }

 

}

/* tablet device */

@media screen and (max-width: 768px)and (min-width:425px) {


}


@media screen and (max-width: 1000px) {

  .first-navbar{
    display: none !important;
  }
}






